<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xsi:schemaLocation="http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- MySQL 데이터베이스 접속 -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://localhost:3306/koitt?useSSL=false" />
		<property name="username" value="root" />
		<property name="password" value="koitt" />
	</bean>

	<!-- Transaction -->
	<bean id="transactionManager"
		class="org.springframework.batch.support.transaction.ResourcelessTransactionManager" />
		

	<!-- job-meta 테이블 자동으로 생성: JobLauncher, Job, Step 실행 결과를 기록할 테이블 생성 -->
	<jdbc:initialize-database data-source="dataSource">
		<jdbc:script location="org/springframework/batch/core/schema-drop-mysql.sql"/>
		<jdbc:script location="org/springframework/batch/core/schema-mysql.sql"/>
	</jdbc:initialize-database>

	<!-- JobRepository 빈 생성 -->
	<bean id="jobRepository"
		class="org.springframework.batch.core.repository.support.JobRepositoryFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="transactionManager" ref="transactionManager" />
		<property name="databaseType" value="mysql" />
	</bean>
	
	<!--  JobLauncher 빈 생성 -->
	<bean id="jobLauncher"
		class="org.springframework.batch.core.launch.support.SimpleJobLauncher">
		<property name="jobRepository" ref="jobRepository"/>
	</bean>

	<!-- Job 생성하는 스프링 xml 파일 import -->
	<import resource="../"
	<import resource="../jobs/job-mysql-to-mail.xml" />
	<import resource="../steps/step-mysql-to-csv.xml" />
<!-- 	<import resource="../steps/step-mysql-to-csv.xml" />
	<import resource="../steps/step-mysql-to-csv.xml" /> -->
	
</beans>
